﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!-- przekierowanie do listy użytkowników -->
<div class="row">
       @Html.ActionLink("Lista użytkowników", "Index", "KatarzynaKrawczykUsers")
</div>