﻿body {

}
/*Ustawienie nagłówka strony*/
header{
    text-align:center;
    margin:auto;
    height:150px;
    width:1200px;
    background-color:aquamarine;
}
/*ustawienie wysokości obrazka*/
header img{
    height:100px;
}
/*Ustawienia elementu menu*/
nav{
    margin:auto;
    height:150px;
    width:300px;
    background-color:hotpink;
}
/* Ustawienia elementu sekcji */
section{
    margin:auto;
    height:500px;
    width:1000px;
    background-color:yellowgreen;
}
/* Ustawienia elementu stopki strony*/
footer{
    
    margin:auto;
    height:150px;
    width:1200px;
    background-color:blueviolet;
}
#photo-information
{
    height:300px;
    width: 50%;
    float:left;
    background-color:red;
}
#text-information
{
    text-align:center;
    height:300px;
    width: 50%;
    float:left;
    background-color:blue;
}