﻿
@{
    ViewBag.Title = "Currencies";
}

<h2>Currencies</h2>

<!---Tabela walut: Euro, Dolar, Funt Brytyjski-->
<!-- Nazwa waluty   |Kod waluty     |Kurs   -->
<!-- Euro           |EUR            |4.00-->
<!-- Funt           |PND            |5.00-->
<!-- Dolar          |USD            |3.50-->

<table style="align-content">
    <tr>
        <th>Nazwa Waluty</th>
        <th>Kod Waluty</th>
        <th>Kurs</th>
    </tr>
    <tr>
        <td>Euro</td>
        <td>EUR</td>
        <td>4.00</td>
    </tr>
    <tr>
        <td>Funt</td>
        <td>PND</td>
        <td>5.00</td>
    </tr>
    <tr>
        <td>Dolar</td>
        <td>USD</td>
        <td>3.50</td>
    </tr>
</table>