﻿
@{
    ViewBag.Title = "Exercise1";

    <h2>Ciekawe linki</h2>
    <u>
        <li><a href="https://youtube.com" target="_blank">YouTube.com</a></li>
        <li><a href="https://onet.pl">Onet.pl</a></li>
        <li><a href="https://google.com">Google.com</a></li>
    </u>
}

<h2>Exercise1</h2>

