﻿
@{
    ViewBag.Title = "Exercise4";
}

<h2>Exercise4</h2>

<button class="btn">Click me!</button>

<p class="btn btn-primary">Click me!</p>

<a href="#" class="btn btn-danger">Click me!</a>

<!-- 2 puste linie -->
<br />
<br />

<!-- przycisk do golfa -->
<a href="~/Content/Images/golf.png" target="_blank" class="btn btn-danger">Golf</a>

<!-- przycisk do focusa -->
<a href="~/Content/Images/focus.png" target="_blank" class="btn btn-warning">Focus</a>

<!-- przycisk do meganki -->
<a href="~/Content/Images/megane.png" target="_blank" class="btn btn-default btn-xs">Megane</a>

<!-- przycisk do civica -->
<a href="~/Content/Images/civic.png" target="_blank" class="btn btn-info">Civic</a>