﻿<div class="jumbotron">
    <h1>CarsApp - ćwiczenia</h1>
    <ul>
        <li>@Html.ActionLink("Ćwiczenie 1 - ciekawe linki", "Exercise1", "Home")</li>
        <li>@Html.ActionLink("Ćwiczenie 2 - tabela walut", "Exercise2", "Home")</li>
        <li>@Html.ActionLink("Ćwiczenie 3 - tabela samochodów", "Exercise3", "Home")</li>
        <li>@Html.ActionLink("Ćwiczenie 4 - przyciski", "Exercise4", "Home")</li>
        <li>@Html.ActionLink("Ćwiczenie 5 - formularz kontaktowy", "Exercise5", "Home")</li>
    </ul>
</div>