﻿/*ustawienia dla elementu głównego*/
body {
    background-color:aquamarine
}
/*usatwienia logo*/
#image-logo
{
    width:100px;
    height:100px;
    margin-left: 50%;
    margin-right: 500%;
    float: left;
}